@model BokarRare.Models.cls_Studenty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cls_Studenty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curse.CurseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StuyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
