@model BokarRare.Models.cls_tbgad

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cls_tbgad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.studenty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.studenty.StuName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StuHW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StuHW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MideXame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MideXame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalXame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalXame)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etamate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etamate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TDagrId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
