@model BokarRare.Models.cls_Students

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cls_Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curse.CurseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechImage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
