@model BokarRare.Models.cls_Students

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cls_Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curse.CurseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
