@model BokarRare.Models.cls_Tectar

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cls_Tectar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.curse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.curse.CurseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechSal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechSal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechImage)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TechId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
